#header-background {
    height: 415px;
    background-size: 100%;
    margin-bottom: -90px;
    background-color: white;
}

@media only screen and (min-width: 500px) {
    #header-background {
        height: 415px;
        margin-top: 75px;
        margin-bottom: 0;
    }
    
    .carousel-img {
        cursor: pointer !important;
        height: 450px !important;
        width: 100%;
    }
}

@media only screen and (max-width: 499px) {
    .carousel-img {
        height: 227px !important;
        width: 100%;
    }
}

.carousel {
    margin-top: 60px;
}

/* INDEX */
#contact-title {
    color: #2a6ca6;
}

.contact {
    font-family: 'Times New Roman', Times, serif;
    font-size: 19px;
}

#contact-hour, #contact-address {
    font-size: 15px;
}
