<template>
    <style>
        .liturgy-title {
            margin-top: 30px;
        }
        
        .liturgy-img {
            width: 100%;
            cursor: pointer !important;
        }
        
        .liturgy-paragraph {
            text-align: justify;  
        }
        
        .no-decoration {
            text-decoration: none;
        }    
    </style>
    
    <div class="liturgy no-decoration">
        <a href="http://liturgiadiaria.cnbb.org.br/app/user/user/UserView.php" target="_blank">
            <div class="liturgy-title">
                <h2>Liturgia</h2>            
            </div>
            <div class="well well-sm">
                <p class="liturgy-paragraph">Acesse aqui as leituras diárias no site da CNBB.</p>
            </div>
        </a>
    </div>
    
    <div>
        <a href="http://arquisp.org.br/liturgia/santo-do-dia" target="_blank">
            <div class="liturgy-title">
                <h2>Santo do dia</h2>            
            </div>
            <div class="well well-sm">
                <img class="liturgy-img" src="http://www.acidigital.com//imagespp/size680/Sao_Lucas.jpg">
                <p class="liturgy-paragraph">Veja o santo do dia diretamente no site da Arquidiosece.</p>
            </div>
        </a>
    </div>
    
    <div class="liturgy">
        <a href="http://www.arquisp.org.br/liturgia/folheto-povo-de-deus" target="_blank">
            <div class="liturgy-title">
                <h2>Folheto do Povo de Deus</h2>            
            </div>
            <div class="well well-sm">
                <ul>
                    <li><a href="http://www.arquidiocesedesaopaulo.org.br/liturgia/folheto-povo-de-deus">Últimos folhetos</a></li>
                    <li><a href="http://www.arquidiocesedesaopaulo.org.br/liturgia/folheto-povo-de-deus">2017 - Ano Litúrgico A</a></li>
                    <li><a href="http://www.arquidiocesedesaopaulo.org. br/liturgia/folheto-povo-de-deus/partituras-musicais">Partituras Musicais</a></li>
                </ul>
                <!-- <p class="liturgy-paragraph">Acesse aqui as leituras diárias no site da CNBB.</p> -->
            </div>
        </a>
    </div>
</template>

<script>
    var this_lit = window.document.currentScript.ownerDocument;
    
    class LiturgyComponent extends HTMLElement {
        constructor() {
            super();
            this.initialize();
        }
        
        initialize() {
            const template = this_lit.querySelector('template');
            var clone = document.importNode(template.content, true);
            var liturgy = document.querySelector('side-liturgy');
            liturgy.appendChild(clone);
        }
    }
    window.customElements.define('side-liturgy', LiturgyComponent);
</script>