<div class="container" style="margin-top: 62px;">
    <div class="row">
        <div class="col-md-12 casamento__title">
            <h1>Casamento.</h1>
            <h2>Formulário de Casamento</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3>Insira os seus dados e a data pretendida</h3>
            <p>
                Preencha o formulário ao lado com seus dados. 
                Enviaremos um e-mail o mais rápido possível com a 
                confirmação da disponibilidade do padre.
            </p>
        </div>
        <div class="col-sm-12 col-md-6">
            <form class="casamento__form" action="">
                <div class="col-md-12">
                    <i class="fa fa-user name"></i>
                    <input type="text" name="nome" placeholder="Digite seu nome completo">
                    <br>
                </div>

                <div class="col-md-12">
                    <i class="fa fa-id-card cpf"></i>
                    <input type="text" name="cpf" placeholder="Digite seu CPF">
                </div>

                <div class="col-md-12">
                    <i class="fa fa-envelope email"></i>
                    <input type="text" name="email" placeholder="Digite seu e-mail">
                </div>

                <div class="col-md-12">
                    <i class="fa fa-home"></i>
                    <select name="pastoral" id="casamento__pastoral" class=" casamento__pastoral">
                        <option value="">Escolha a paroquia</option>
                    </select>
                </div>

                <div>
                    <i class="fa fa-calendar date"></i>
                    <input  class="date" 
                            id="casamento__datepicker"
                            name="data" placeholder="Escolha a data pretendida">
                </div>

                <div class="col-md-12 centered">
                    <input class="btn" type="submit" name="email" value="Enviar">
                </div>
            </form>
        </div>
    </div>
</div>