<!-- Carousel -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <section>
                <div class="row">
                    <div class="masthead carousel__masthead">
                        <div id="main-carousel" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner"></div>
                                
                            <a class="carousel-control-prev" href="#main-carousel" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#main-carousel" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- End Carousel -->

<hr>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered schedule__table">
                        <thead>
                            <th class="schedule__title" colspan="7">
                                Agenda da Semana                            
                            </th>
                        </thead>
                        <thead>
                            <th>Segunda-feira</th>
                            <th>Terça-feira</th>
                            <th>Quarta-feira</th>
                            <th>Quinta-feira</th>
                            <th>Sexta-feira</th>
                            <th>Sábado</th>
                            <th>Domingo</th>
                        </thead>
                        <tbody>
                            <div w3-include-html="/Pages/Home/Elements/schedule_modal.html"></div>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
<hr>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-8" id="message">                    
            <main>
                <home-messages></home-messages>
            </main>
        </div>
        <div class="col-lg-3 col-md-4">
            <div w3-include-html="Pages/Home/Elements/liturgy.html"></div>
        </div>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination" id="home-pagination">
            <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
        </ul>
    </nav>
</div>