.schedule__table {
    box-shadow: 6px 1px 3px;
}

.schedule__title {
    text-align: center;
    font-size: 22px;
    background-color: #194894;
}

.schedule__table thead {
    background: #76a1e8;
    border: 1px solid #76a1e8;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}

.schedule__table td {
    cursor: pointer;
}

.schedule__modal-body p {
    font-weight: 700;
}

.schedule__modal-body span {
    font-weight: normal;
}

.schedule__modal-title {
    font-size: 24px;
    font-weight: 900;
}