<div class="container-fluid liturgy-header" style="margin-top: 4em">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <h1 class="liturgy-title">Liturgia Diária</h1>
            <ul class="liturgy-list">
                <li class="liturgy-list-item"> Primeira Leitura </li>
                <li class="liturgy-list-item"> Salmo </li>
                <li class="liturgy-list-item"> Evangelho </li>
            </ul>
        </div>
    </div>
</div>

<div class="container liturgy-content">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <p class="liturgy-first-reading">
                    \r\n\t\t\t\t\t\t\tPrimera lectura (Santiago 5:9-12)\r\n9 No os quej\u00e9is, hermanos, unos de otros para no ser juzgados; mirad que el Juez est\u00e1 ya a las puertas. 10 Tomad, hermanos, como modelo de sufrimiento y de paciencia a los profetas, que hablaron en nombre del Se\u00f1or. 11 Mirad c\u00f3mo proclamamos felices a los que sufrieron con paciencia. Hab\u00e9is o\u00eddo la paciencia de Job en el sufrimiento y sab\u00e9is el final que el Se\u00f1or le dio; porque el Se\u00f1or es compasivo y misericordioso. 12 Ante todo, hermanos, no jur\u00e9is ni por el cielo ni por la tierra, ni por ning\u00fan otra cosa. Que vuestro s\u00ed sea s\u00ed, y el no, no; para no incurrir en juicio.\t\t\t\t\t\t\t- Palabra del Se\u00f1or.\r\n\t\t\t\t\t\t\t- Gracias a Dios.\r\n\t\t\t\t\t\t
            </p>
        </div>
    </div>
</div>